/* Color palette */

$black:     #000000;
$gray-ab:   #ababab;
$gray-ac:   #acacac;
$gray-bd:   #bdbdbd;
$gray-c7:   #c8c7c7;
$gray-e3:   #e3e3e3;
$gray-ee:   #eeeeee;
$gray-f0:   #f0f0f0;
$gray-f3:   #f3f3f3;
$gray-f4:   #f4f4f4;
$gray-f8:   #f8f8f8;
$gray-fb:   #fbfbfb;
$white:     #ffffff;

$red:       #cc0000;
$dark-red:  #b70000;
$darker-red:  #9d0000;